extends layout

block content
  div(id="pageloader")
      div(class="spinner")
        div(class="bounce1")
        div(class="bounce2")
        div(class="bounce3")                        
  div(class="container margintop container2 moveFromLeft")
    div(class="fronthelp", style="margin-top: 30px;")
      a(href="/search")
        img(src="/images/house0.png", alt="The Yoke",  title="Konate-Schib", class="yokelogo", style="width: 209px;height: 143.78px;")
    div(class="section2")
      h1!= "Who We Are."
      div.pointsLayout.alert.results
          span="The House Of Konate-Schib is a private organization formed in 2017 by Gnagna Konate-Shaysh and Andria Schibler. The House of Konate-Schib is funded entirely through profits from LabYoke research management software. The foundation believes that through philanthropy, we can make the world a better place. We are striving to make a positive impact on people’s lives while reducing government spending and increasing efficiency."
      div.pointsLayout.alert.results
          span="We have two missions."
      div.pointsLayout.alert.results
        div.pointsLayout.alert.alert-success
          span="Our first initiative is to make sure students have safe and affordable housing while attending university. Providing funding to help students secure reasonable living arrangements throughout their studies is a vital part of education and paves the way for future success. Student housing should not be the limiting factor during a person’s education and development."
        div.pointsLayout.alert.alert-success
          span="Our second initiative is to provide academic funding for students who are capable and wish to pursue a career in either computer science or cell biology. Providing educational funds is a great way to encourage technological developments which allow communities to function in amore safe, efficient, and healthier manner."
      div.pointsLayout.alert.results
          span!="<b>We believe providing educational funds is a great way to secure future technological developments which will allow communities to function in a safe, efficient, and healthier manner.</b>"
      div.pointsLayout.alert.results
          span="The Team."
    div(class="teamrow", style="overflow: hidden;")
      div(class="teamcolumn manual-flip")
        div(class="teamcard")
          div(class="front front1")
            img(src="/images/card.jpg" alt="Jane" style="width:100%")
            div(class="teamcontainer")
              h3!="Andria Schibler"
              p(class="teamtitle")="The Researcher."
              div(class="header")
                h5(class="motto")="\"Find Cures!\""
                span(class="threepointssep")
              div(class="teamcontent")
                div(class="main")
                   h4(class="cardtext-center", style="font-weight:bold")="Why me?"
                   p(class="cardtext-center")="Say something quick about Schib!"
                   div(class="stats-container")
                       div(class="stats")
                           h4!="2350"
                           p="Code Lines"
                       div(class="stats", style="float:right")
                           h4!="14"
                           p="Music Favs"
      div(class="teamcolumn manual-flip /*teamcolumn1*/")
        div(class="teamcard")
          div(class="front front2")
            img(src="images/card2_0.jpg" alt="Jane" style="width:100%")
            div(class="teamcontainer")
              h3!="Eran Shaysh"
              p(class="teamtitle")="The Creative Mind."
              div(class="header")
                h5(class="motto")="\"Build kick-ass work!\""
                span(class="threepointssep")
              div(class="teamcontent")
                div(class="main")
                   h4(class="cardtext-center", style="font-weight:bold")="What do I do?"
                   p(class="cardtext-center")="Say something quick about Schib!"
                   div(class="stats-container")
                       div(class="stats")
                           h4!="76"
                           p="Campaigns"
                       div(class="stats", style="float:right")
                           h4!="114"
                           p="Videos"
      div(class="teamcolumn manual-flip /*teamcolumn2*/")
        div(class="teamcard /*teamcard2*/")
          div(class="front front3")
            img(src="images/card3_0.png" alt="Jane" style="width:100%")
            div(class="teamcontainer")
              h3!="Gnagna Konaté-Shaysh"
              p(class="teamtitle")="The Techie."
              div(class="header")
                h5(class="motto")="\"Code & Give Back!\""
                span(class="threepointssep")
              div(class="teamcontent")
                div(class="main")
                   h4(class="cardtext-center", style="font-weight:bold")="What do I love?"
                   p(class="cardtext-center")="I've worn lots of hats over the years. As a result, I have a unique ability to manage multidisciplinary creative projects and to navigate complex challenges."
                   div(class="stats-container")
                       div(class="stats")
                           h4!="5000K"
                           p="Campaigns"
                       div(class="stats", style="float:right")
                           h4!="54"
                           p="Music Favs"
      script.
        function rotateCard(btn){
            var $otherbutton;
            var $card = $(btn).closest('.teamcolumn');
            var classname = $(btn).parent().attr("class");
            console.log("classname: " + classname);
            if(classname == "frontbutton"){
              $otherbutton = $(btn).parent().next('.backbutton');
            } else {
              $otherbutton = $(btn).parent().prev('.frontbutton');
            }
            console.log($otherbutton);
            var $front = $card.find('.front');
            //console.log($front);
            if($card.hasClass('hover')){
                $card.removeClass('hover');
                $front.show();
                //$(btn).parent().hide();
                //$otherbutton.show();
            } else {
                $card.addClass('hover');
                $front.hide();
                //$(btn).parent().hide();
                //$otherbutton.show();
            }
        }
        $(window).on('load', function() {
          var h = 200 + $('.fronthelp').height() + $('.section2').height() + $('.front1').height();
          console.log("container height: " + h);
          //$('.container2').css('height',h);
        });
  div(style="clear:both")
  