extends layout

block content
                           
  div(class="container")
    div(class="fa fa-home labColor us", style="margin-top: 15px;")
      span(class="fa fa-plus aboutplus")
      a(href="/search")
         img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogous")
    div
      //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
      h1!= title + "."
      div(style="text-align:center; color:white;margin-top: 15px;").alert.alert-warning.labColorBackground
        h3(style="margin-top: 10px;")="Who Are We?!"
      div.pointsLayout.alert.results
          span="The House Of Konate-Schib Foundation is a private foundation formed in 2017 by Gnagna Konate-Shaysh and Andria Schibler. Gnagna’s Foundation is funded entirely through profits and royalties from LabYoke research management software. The foundation believes that through philanthropy, we can make the world a better place. We have two missions."
      div.pointsLayout.alert.results
          span="We have two missions."
      div.pointsLayout.alert.results
        div.pointsLayout.alert.alert-success
          span!="Our first initiative is to make sure students have safe, affordable, adequate housing while attending university. We believe providing funding to help students secure reasonable living arrangements throughout their studies is a vital part of education and paves the way for future success. Student housing should not be the limiting factor during a person’s education and development."
        div.pointsLayout.alert.alert-success
          span!="Our second initiative is to provide funding for students who are capable and wish to pursue a career in either computer science or cell biology."
      div.pointsLayout.alert.results
          span!="<b>We believe providing educational funds is a great way to secure future technological developments which will allow communities to function in a safe, efficient, and healthier manner.</b>"