extends layout

block content
                           
    div(class="container login")
        a(href="/search")
            img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", style="border-width:0px;")
        if !messageSuccess
            h1 Almost there.
            p!="Please change your password then <a href='/login'>login</a> again."
        if messageSuccess
            h1 Congrats.
            p!= messageSuccess
        div(id="ctl00_Div2")
        if message
            div(class="alert alert-danger")!= message
        if displayForm
            form(action="/changepassword" method="post")
                input(name="hashid" type="hidden" id="hashid" value=hashid placeholder=hashid)
                div(class="textentry")
                    input(name="pass" type="password" id="pass" class="pass form-control" placeholder="Password")
                div(class="textentry")
                    input(name="repass" type="password" id="repass" class="repass form-control" placeholder="Re-enter Password")
                div(class="buttons")
                    button.btn.btn-success.btn-lg.btn-block(type='submit' class="changepassword") Change
                    img(src="/images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;")
        
        
