extends layout

block content
	div(class="container login marginbottom share-container")
		h1= 'Labs & Departments.'
		P!="You can create a new department and lab. As well as set some useful settings for labs."
		div(style="width: 50%;")
			- var venn = vennsettings
			- var checkedstrDept = false;
			- if(section !=null && section.length>0 && section == "department")
				- checkedstrDept = true
			- var checkedstrLab = false;
			- if(section !=null && section.length>0 && section == "lab")
				- checkedstrLab = true
			- var checkedstrVenn = false;
			- if(section !=null && section.length>0 && section == "venn")
				- checkedstrVenn = true
			- var checkedstrAll = false;
			- if(section !=null && section.length>0 && section == "all")
				- checkedstrAll = true
			form(action="createSelect", method="post")
			div(class="buttons", style="margin-bottom: 50px;")
				select(name="createSelect" type="text" id="createSelect" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px" placeholder="Create...")
					option(value="createNone" selected=(checkedstrAll===true ? "selected" : undefined) style="font-weight:bold")="Create a ..."
					option(value="createDept" selected=(checkedstrDept===true ? "selected" : undefined))="Department"
					option(value="createLab" selected=(checkedstrLab===true ? "selected" : undefined))="Lab"
					option(value="vennsettings" selected=(checkedstrVenn===true ? "selected" : undefined))="Ven Diagram Settings"
				div(style="top: -35px; position: relative; float: right; margin-right: 10px;")
					div(class="arrow-up", style="margin-bottom: 5px;")
					div(class="arrow-down")
			div(id="createDept")
				h3= 'Create a new Department.'
				p="Add a department to the existing list."
				div(id="ctl00_Div2" class="results")
					if errormessagedept != null
						div(class="alert alert-danger fade in alert-dismissable")!= errormessagedept
					if successmessagedept != null
						div(class="alert alert-success fade in alert-dismissable")!= successmessagedept
					form(action="/createdepartment" method="post")
						div(class="textentry")
							input(name="department" type="text" id="department" class="form-control placeholderColor" placeholder="Department" style="")
						div(class="buttons" style="margin-top: 15px;")
							button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") Add
							img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")
			div(id="createLab")
				h3= 'Add a new lab.'
				p="Each lab is assigned an administrator and department. Labs may or may not be part of the Venn Diagram. There is a maximum of 6 labs per department who can be listed in the diagram."
				div(id="ctl00_Div2" class="results")
					if errormessagelab != null
						div(class="alert alert-danger fade in alert-dismissable")!= errormessagelab
					if successmessagelab != null
						div(class="alert alert-success fade in alert-dismissable")!= successmessagelab
					form(action="/createlab" method="post")
						div(class="textentry")
						label(style="width: 100%;")!="<span class='labColor'> Name </span>"
						input(name="labname" type="text" id="labname" class="form-control placeholderColor" placeholder="Lab name" style="/*background-color:rgba(61, 157, 203, 0.7);color:white*/")
						label(style="width: 100%;margin-top: 10px;")!="<span class='labColor'> Department </span>"
						select(name="deptlab" type="text" id="deptlab" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px" placeholder="Department")
							option(value"selectdept")="Select a Department"
							- if(depts != undefined)
								- for(var prop in depts)
									- var department = depts[prop].departmentname
									option(value=department) #{department}
						div(style="top: -35px; position: relative; float: right; margin-right: 10px;")
							div(class="arrow-up", style="margin-bottom: 5px;")
							div(class="arrow-down")
						label(style="width: 100%;top: -25px;position: relative;")!="<span class='labColor'> Administrator </span>"
						select(name="adminlab" type="text" id="adminlab" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px;top: -25px;position: relative;" placeholder="Admin")
							option(value"selectdept")="Select an Administrator"
							- if(users != undefined)
								- for(var prop in users)
									- var user = users[prop].email
									option(value=user) #{user}
						div(style="top: -60px; position: relative; float: right; margin-right: 10px;")
							div(class="arrow-up", style="margin-bottom: 5px;")
							div(class="arrow-down")
						div(class="buttons", style="margin-top: 15px;")
							//input(type="submit" class="button" value="Get in")
							button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") Add
							img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")
			div(id="vennSettings")
				h3= 'Set the Venn diagram per department.'
				p="Add a lab to the diagram. You can add up to 6 labs per department."
				div(id="ctl00_Div2" class="results")
					if errormessagevenn != null
						div(class="alert alert-danger fade in alert-dismissable")!= errormessagevenn
					if successmessagevenn != null
						div(class="alert alert-success fade in alert-dismissable")!= successmessagevenn
					form(action="/setvenn" method="post")
						label(style="width: 100%;margin-top: 10px;")!="<span class='labColor'>Department </span>"
						select(name="deptlabvenn" type="text" id="deptlabvenn" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px" placeholder="Department")
							option(value="selectdeptvenn")="Select a Department"
							- if(depts != undefined)
								- for(var prop in depts)
									- var department = depts[prop].departmentname
									option(value=department) #{department}
						div(style="top: -35px; position: relative; float: right; margin-right: 10px;")
							div(class="arrow-up", style="margin-bottom: 5px;")
							div(class="arrow-down")
					div(id="vennSettingsDisplay", style="display:none")

						div(class="table-responsive")                
							table(id="rankTblload" class="table rankTbl")
								thead
									tr(class="you info-best" style="font-weight: bold")
										td(class="wrapped") Lab
										td(class="wrapped") Isvenn
								tbody(id="vennbody")

						div(class="buttons" style="margin-top: 15px;")
							button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") Add
							img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")
		script.
			window.onload = function() {
				$('#createDept').hide();
				$('#createLab').hide();

				$('#vennSettingsDisplay').hide();
				$('#vennSettings').hide();

				var eSelect = document.getElementById('createSelect');
				console.debug("selected: " + $('#createSelect').val());

				if(eSelect.selectedIndex === 1 || $('#createSelect').val() == 'createDept') {
					console.log("createDept inside");
					$('#createDept').show();
					$('#vennSettings').hide();
					$('#createLab').hide();
				} else if(eSelect.selectedIndex === 2 || $('#createSelect').val() == 'createLab') {
					console.log("createLab inside");
					$('#createLab').show();
					$('#createDept').hide();
					$('#vennSettings').hide();
				} else if(eSelect.selectedIndex === 3 || $('#createSelect').val() == 'vennSettings') {
					console.log("vennSettings inside");
					$('#vennSettings').show();
					$('#createDept').hide();
					$('#createLab').hide();
				} else if(eSelect.selectedIndex === 0 || $('#createSelect').val() == 'createNone') {
					console.log("create None inside");
					$('#createLab').hide();
					$('#createDept').hide();
					$('#vennSettings').hide();
				}

				eSelect.onchange = function() {
					if(eSelect.selectedIndex === 1 || $('#createSelect').val() == 'createDept') {
						console.log("createDept inside");
						$('#createDept').show();
						$('#createLab').hide();
						$('#vennSettings').hide();
					} else if(eSelect.selectedIndex === 2 || $('#createSelect').val() == 'createLab') {
						console.log("createLab inside");
						$('#createLab').show();
						$('#createDept').hide();
						$('#vennSettings').hide();
					} else if(eSelect.selectedIndex === 3 || $('#createSelect').val() == 'vennSettings') {
						console.log("vennSettings inside");
						$('#vennSettings').show();
						$('#createDept').hide();
						$('#createLab').hide();
					} else if(eSelect.selectedIndex === 0 || $('#createSelect').val() == 'createNone') {
						console.log("create None inside");
						$('#createLab').hide();
						$('#createDept').hide();
						$('#vennSettings').hide();
					}
				}

				var eSelectvenn = document.getElementById('deptlabvenn');
				console.debug("venn setting selected: " + $('#deptlabvenn').val());

				if(eSelectvenn.selectedIndex === 0 || $('#deptlabvenn').val() == 'selectdeptvenn') {
					console.log("venn settings None inside0");
					$('#vennSettingsDisplay').hide();
					$('#vennSettings').hide();
				} else {
					console.log("venn settings display inside 0");
					var dept = $('#deptlabvenn').val();
					console.log("deptlabvenn dept: " + dept);
					var test = JSON.parse('#{JSON.stringify(vennsettings)}'.replace(/&quot;/g, '"'));
					console.log("deptlabvenn vennsettings: " + test);
					console.log("deptlabvenn vennsettings find index: " + test.indexOf(dept));
					$('#vennSettingsDisplay').show();
					$('#vennSettings').show();
				}

				eSelectvenn.onchange = function() {
					console.log("venn changing");
					if(eSelectvenn.selectedIndex === 0 || $('#deptlabvenn').val() == 'selectdeptvenn') {
						console.log("venn settings None inside1");
						$('#vennSettingsDisplay').hide();
						$('#vennSettings').hide();
					} else {
						console.log("venn settings display inside 1");
						var dept = $('#deptlabvenn').val();
						console.log("deptlabvenn dept: " + dept);
						var test = JSON.parse('#{JSON.stringify(venn)}'.replace(/&quot;/g, '"'));
						console.debug(test);
						var departments = test.departments
						console.debug(departments);
						console.log("deptlabvenn vennsettings find index: " + departments.indexOf(dept));
						var index = departments.indexOf(dept);
						console.debug("index: " + index);
						if(index > -1){
							var labs = test.labs[index];
							var isvenns = test.isvenn[index];
							console.debug(labs);
							console.debug(isvenns);
							var vennbody = "";
							for(prop in labs){
								var check = isvenns[prop]
								var checkedstr = (check==1 ? "checked" : undefined)
								vennbody += "<tr class='wrapped'><td>" + labs[prop] + "</td><td>" + "<form action='/setvenn' method='post'><input type='checkbox' name='cancel' value='cancel' class='cancel' checked='" + checkedstr + "'/><input type='hidden' name='labname' value='" + labs[prop] + "'/><input type='hidden' name='department' value='" + dept + "' />" + "</td></tr>"; 
							}
							$('#vennbody').html(vennbody);
							$('#vennSettingsDisplay').show();
							$('#vennSettings').show();
						} else {
							$('#vennbody').html("");
							$('#vennSettingsDisplay').hide();
							$('#vennSettings').hide();
						}
					}
				}
			}
