extends layout

block content
	div(class="container login marginbottom share-container")
		h1= 'Labs & Departments.'
		P!="You can create a new department and lab. As well as set some useful settings for labs."
		div(style="width: 50%;")
			- var checkedstrDept = false;
			- var section = "department"
			- if(section !=null && section.length>0 && section == "department")
				- checkedstrDept = true
			- var checkedstrLab = false;
			- if(section !=null && section.length>0 && section == "lab")
				- checkedstrLab = true
			form(action="createSelect", method="post")
			div(class="buttons", style="margin-bottom: 50px;")
				select(name="createSelect" type="text" id="createSelect" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px" placeholder="Create...")
					option(value="createNone",style="font-weight:bold")="Create a ..."
					option(value="createDept" selected=(checkedstrDept===true ? "selected" : undefined))="Department"
					option(value="createLab" selected=(checkedstrLab===true ? "selected" : undefined))="Lab"
			div(id="createDept")
				h3= 'Create a new Department.'
				p="Add a department to the existing list."
				div(id="ctl00_Div2" class="results")
					if message
						div(class="alert alert-danger fade in alert-dismissable")!= message
					form(action="/createdepartment" method="post")
						div(class="textentry")
							input(name="department" type="text" id="department" class="form-control placeholderColor" placeholder="Department" style="")
						div(class="buttons" style="margin-top: 15px;")
							button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") Add
							img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")

			div(id="createLab")
				h3= 'Add a new lab.'
				p="Each lab is assigned an administrator and department. Labs may or may not be part of the Venn Diagram. There is a maximum of 6 labs per department who can be listed in the diagram."
				div(id="ctl00_Div2" class="results")
					if message
						div(class="alert alert-danger fade in alert-dismissable")!= message
					form(action="/createlab" method="post")
						div(class="textentry")
						label(style="width: 100%;")!="<span class='labColor'> Name </span>"
						input(name="lab" type="text" id="lab" class="form-control placeholderColor" placeholder="Lab name" style="/*background-color:rgba(61, 157, 203, 0.7);color:white*/")
						label(style="width: 100%;")!="<span class='labColor'> Department </span>"
						select(name="deptlab" type="text" id="deptlab" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px" placeholder="Department")
							option(value"selectdept")="Select a Department"
							- if(depts != undefined)
								- for(var prop in depts)
									- var department = depts[prop].departmentname
									option(value=department) #{department}
						div(class="buttons", style="margin-top: 15px;")
							//input(type="submit" class="button" value="Get in")
							button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") Add
							img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")
		script.
			window.onload = function() {
				$('#createDept').hide();
				$('#createLab').hide();

				var eSelect = document.getElementById('createSelect');
				console.debug("selected: " + $('#createSelect').val());

				if(eSelect.selectedIndex === 1 || $('#createSelect').val() == 'createDept') {
					console.log("createDept inside");
					$('#createDept').show();
					$('#createLab').hide();
				} else if(eSelect.selectedIndex === 2 || $('#createSelect').val() == 'createLab') {
					console.log("createLab inside");
					$('#createLab').show();
					$('#createDept').hide();
				} else if(eSelect.selectedIndex === 0 || $('#createSelect').val() == 'createNone') {
					console.log("create None inside");
					$('#createLab').hide();
					$('#createDept').hide();
				}

				eSelect.onchange = function() {
					if(eSelect.selectedIndex === 1 || $('#createSelect').val() == 'createDept') {
						console.log("createDept inside");
						$('#createDept').show();
						$('#createLab').hide();
					} else if(eSelect.selectedIndex === 2 || $('#createSelect').val() == 'createLab') {
						console.log("createLab inside");
						$('#createLab').show();
						$('#createDept').hide();
					} else if(eSelect.selectedIndex === 0 || $('#createSelect').val() == 'reportNone') {
						console.log("create None inside");
						$('#createLab').hide();
						$('#createDept').hide();
					}
				}
			}
