doctype html
html(lang='en')
   head
     title= 'LabYoke Admin - ' + title
     link(href='/css/animate.css', rel='stylesheet')
     link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css")
     //link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/rr-1.2.3/datatables.min.css")

     link(href='/css/popup.css', rel='stylesheet')
     link(href='/css/bootstrap.css', rel='stylesheet')
     link(href='/css/bl.css', rel='stylesheet')
     link(href='/css/fontello.css', rel='stylesheet')
     link(href='/css/font-awesome.css', rel='stylesheet')
     link(href='/css/animation.css', rel='stylesheet')
     link(href='/css/hamburgers-master/dist/hamburgers.css', rel='stylesheet')
     if (title=='About Us')
       link(href='/css/rotating-card.css', rel='stylesheet')
     if (title=='Users')
       link(href='/css/normalize.css', rel='stylesheet')
       link(href='/css/component.css', rel='stylesheet')
       link(href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css', rel='stylesheet')
     if (title=='Orders')
      link(href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css', rel='stylesheet')
     meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
     meta(http-equiv='X-UA-Compatible', content='IE=edge')
     meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
     meta(name='robots', content='noindex, nofollow')
     link(rel='shortcut icon', href='/images/BLlogin.png')
     script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
     script(type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js")
     //script(type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/rr-1.2.3/datatables.min.js")
     if (title=='Share')
       script(type="text/javascript" src="/javascripts/canvas2svg.js")
       script(type="text/javascript" src="/javascripts/jvenn.min.js")
       script(type="text/javascript" src="/javascripts/jquery.twbsPagination.min.js")
     link(rel="shortcut icon" href="/images/adminico.png" type="image/x-icon")
     link(rel="icon" href="/images/adminico.png" type="image/x-icon")

     if scripts
       each script in scripts
          script(type='text/javascript', src=script)
   - var user = labyoker

   - var sharesnumber = sharesnum
   - var ordersnumber = ordersnum
   - var ordersnumclass = "num"
   - var sharesnumclass = "num"
   - if(sharesnumber == null || sharesnumber == undefined)
       - sharesnumber = 0
   - if(ordersnumber == null || ordersnumber == undefined)
       - ordersnumber = 0
   - if(sharesnumber != null && sharesnumber <10)
        - sharesnumclass = "num"
   - else if(sharesnumber != null && sharesnumber <100)
        - sharesnumclass = "num greatherthannine"
   - else if(sharesnumber != null && sharesnumber <1000)
        - sharesnumclass = "num greatherthanninetynine"

   - if(ordersnumber != null && ordersnumber <10)
        - ordersnumclass = "num"
   - else if(ordersnumber != null && ordersnumber <100)
        - ordersnumclass = "num greatherthannine"
   - else if(ordersnumber != null && ordersnumber <1000)
        - ordersnumclass = "num greatherthanninetynine"
   - if(user != null && user != undefined && user.length>11)
        - user = user.substring(0, 8)
        - if(user.substring(8,8) == " ")
           - user = user.substring(0,7)
   body(class=loggedIn)
     if (loggedIn==true)
        .navbar.navbar-inverse.navbar-fixed-top.adjustnav.navbackground(role='navigation',style="background-color: white;font-size: 10pt;position:fixed !important;padding-top:10px")
            .container.nobottom(class="margin-top: 5px;")
                .navbar-header.paddingrightnav(style="margin-bottom: 16px;float:right; margin-left:auto;margin-right: -10px;")
                    //button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse', style="border-color:#8a6d3b")
                      //  span.icon-bar
                      //  span.icon-bar
                      //  span.icon-bar
                    button(class="hamburger hamburger--spring" data-toggle="collapse" data-target=".navbar-collapse" type="button" style="outline:none;margin-right: 10px;")
                      span(class="hamburger-box")
                        span(class="hamburger-inner")

                    - activateReports = "addMargin "
                    - activateDepartments = "addMargin "
                    - activateTool = "addMargin desktabonly5 "
                    - activateHelp = "addMargin "
                    - activateAbout = "addMargin "
                    - activateUsers = "addMargin "
                    - activateAccount = "account-border addMargin "
                    - activateAdmin = "addMargin "
                    - activeSearchMob = "addMargin "
                    - if (title == 'Reports')
                        - activateReports = activateDepartments + "labBackColor"
                    - if (title == 'Departments')
                        - activateDepartments = activateDepartments + "labBackColor"
                    - if (title == 'Query Tool')
                        - activateTool = activateTool + "labBackColor"
                        - activeSearchMob = "labColorBackgroundHover pressedbutton"
                    - if (title == 'Help')
                        - activateHelp = activateHelp + "labBackColor"
                    - if (title == 'Users')
                        - activateUsers = activateUsers + "labBackColor"
                    - if (title == 'Account')
                        - activateAccount = activateAccount + "labBackColor"
                    - if (title == 'About Us')
                        - activateAbout = activateAbout + "labBackColor"

                span
                  a(href="/querytool", class="roundaccountmob searchmob " + activeSearchMob, style="color: white;text-decoration: none;")
                    span(class="fa fa-gear colmenu " + activeSearchMob, style="color: white;font-size: 11pt;")
                .collapse.navbar-collapse(id="navburger")
                    div.adjustWidthSearch(style="float:left", class=isreghide)
                        - adjustWidth = ""
                        - menuaccount = "menumyaccountadmin"
                        if(isLoggedInAdmin == false)
                            - adjustWidth =  "width: 111px;"
                            - menuaccount = "menumyaccount"
                        ul.nav.navbar-nav.addMargin.adjustWidthSearchUL(id="#menumyaccounta")
                            li(class=activateTool)
                                a(href="/querytool", class="nav-menu",id="menusearch", style=adjustWidth)
                                    span(class="fa fa-gear colmenu", style="font-size: 14pt;margin-top: -5px")
                                    span=" Tool"

                            
                    div(class="paddingMobile")
                        ul.nav.navbar-nav(id="menumyshares", class="addMargin", style="border-left-color: white;/*border-left-style: solid;*/border-width: thick;")
                            li(class=activateDepartments)
                                a(href="/departments",class="nav-menu",id="")
                                    span(class="fa fa-building colmenu")
                                    span=" Labs & Deps"
                            li(class=activateUsers)
                                a(href="/users",class="nav-menu",id="")
                                    span(class="fa fa-users colmenu")
                                    span=" Users"
                        ul.nav.navbar-nav(id=menuaccount, class="addMargin menu-border")
                            //li(class=activateAccount)
                                //a(href="/account",class="nav-menu myaccount", id="menumyaccounta")
                                    //span(class="fa fa-cog colmenu")
                                    //span(class="desktabonly2")=" " + user + "'s"
                                    //span=" Profile"
                            li(class=activateHelp)
                                a(href='/help', class="nav-menu",id="menumyaccounta")
                                    span(class="fa fa-anchor colmenu")
                                    span!=" Help "
                            li(class=activateAbout)
                                a(href='/about', class="nav-menu",id="menumyaccounta")
                                    span(class="fa fa-home colmenu")
                                    span!=" Us "
                    ul.nav.navbar-nav.navbar-right
                        li(class="nav-menu-logout", style="cursor:pointer")
                            a 
                                span(style="margin-left: 5px;")="Logout"

     block content
     script(type="text/javascript" src="/javascripts/bootstrap.min.js")
     script(type="text/javascript" src="/javascripts/popup.js")
     if (title=='Users')
       script(type="text/javascript" src="/javascripts/custom-file-input.js")
     if (title=='Reports' || title=='Account' || title=='Register')
       script(type="text/javascript" src="/javascripts/jquery.maskedinput.min.js")
     - if (title!='Forgot Password' && title!='Register' && title!='About Us' && title!='Help' && title!='Login' && title!='Change Password')
       //script.
          //var h = $(window).height() - 125;
          //$(".marginbottom").css("min-height",h);
     div(style="margin-top: 100px; background-color: #8a6d3b; position: fixed;bottom: 0;width: 100%;")
            div(style="color:white; text-align:center; font-size:11px;")="@labyoke"
     a(href="#0" class="cd-top" title="go to top")
      span(class="fa fa-chevron-circle-up")
    script.
        $(".nav-menu-logout").click(function() {
                    $( this ).addClass( "animated hinge" );
                    setTimeout(function() {
                      window.location.href = "/logout";
                    }, 2000);
                    });
        // Look for .hamburger
        var hamburger = document.querySelector(".hamburger");
        // On click
        if(hamburger != undefined && hamburger != null){
        hamburger.addEventListener("click", function() {
          // Toggle class "is-active"
          hamburger.classList.toggle("is-active");
          // Do something else, like open/close menu
          console.log("clicked hamburger.");
        });
        }

        jQuery(document).ready(function($){
          // browser window scroll (in pixels) after which the "back to top" link is shown
          var offset = 300,
            //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
            offset_opacity = 1200,
            //duration of the top scrolling animation (in ms)
            scroll_top_duration = 700,
            //grab the "back to top" link
            $back_to_top = $('.cd-top');

          //hide or show the "back to top" link
          $(window).scroll(function(){
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if( $(this).scrollTop() > offset_opacity ) { 
              $back_to_top.addClass('cd-fade-out');
            }
          });

          //smooth scroll to top
          $back_to_top.on('click', function(event){
            event.preventDefault();
            $('body,html').animate({
              scrollTop: 0 ,
              }, scroll_top_duration
            );
          });

        });
