extends layout

block content
    form(action="/orders" id="orders" method="post")
        input(name="emailform" type="hidden" id="emailform" value="")
        input(name="agentform" type="hidden" id="agentform" value="")
        input(name="vendorform" type="hidden" id="vendorform" value="")
        input(name="catalogform" type="hidden" id="catalogform" value="")
        input(name="locationform" type="hidden" id="locationform" value="")
        input(name="categoryform" type="hidden" id="categoryform" value="")
        input(name="qtyform" type="hidden" id="qtyform" value="")
        input(name="labform" type="hidden" id="labform" value="")
        div(id="ios-light")
            center
                h1="Ordering?"
                p(id="orderText")
                div
                    div(id="actionorder" class="exit" style="width: 50%; float: left; background-color: rgba(138, 109, 59, 0.55);")="OK"
                    div(class="exit" onclick="iosLightExit()")="Cancel"
        div(class="shade" id="shade")
        div(class="shade-light" id="shade-light")

    div(class="container login marginbottom")
        div(style="float: left;max-width: 400px;margin-right: 20px;")
            h1= 'Search.'
            p!="Start your search by typing in the name of the <span class='labColor'>reagent</span> or a <span class='labColor'>catalog number</span>. You can also select your keyword from the dropdown."
            - searchText = "Looking for reagent..."
            - searchTextCatalog = "Looking for catalog number..."
            - classButton = "btn-success"
            - classButtonCatalog = "btn-success"
            if searchformText
                - searchText = "Search: " + searchformText
                - classButton = "btn-success-results"
            if searchformTextCatalog
                - searchTextCatalog = "Search: " + searchformTextCatalog
                - searchformTextCatalog = "Search: " + searchformTextCatalog
                - classButtonCatalog = "btn-success-results"            
            div(id="ctl00_Div2" class="row")
                div
                    if message
                        div(class="alert alert-danger")!= message
                    form(action="/search" method="post")
                        div(class="textentry")
                            input(name="searchText" list="agent-datalist" type="text" id="searchText" class="form-control" placeholder=searchText)
                            datalist(id="agent-datalist")
                                -var ob2 = agentsResults
                                -for(var prop in ob2)
                                    option(value='#{ob2[prop].agent}')
                        div(class="buttons")
                            //input(type="submit" class="button" value="Get in")
                            button(class="btn " + classButton + " btn-lg btn-block" type='submit') Find By Reagent
                            img(src="images/yoke5.png", alt="The Search", title="Search", style="border-width:0px; width: 50px; margin-top: -77px; margin-left: 300px;")
                    div(style="background-color: #3d9dcb; height: 2px; margin-bottom: 40px; margin-top: 30px;")
                    if messageCatalog
                        div(class="alert alert-danger")!= messageCatalog
                    form(action="/searchCatalog" method="post")
                        div(class="textentry")
                            input(name="searchTextCatalog" list="catalog-datalist" type="text" id="searchTextCatalog" class="form-control" placeholder=searchTextCatalog)
                            datalist(id="catalog-datalist")
                                -var ob2 = agentsResults
                                -for(var prop in ob2)
                                    option(value='#{ob2[prop].catalognumber}')
                        div(class="buttons")
                            button(class="btn " + classButtonCatalog + " btn-lg btn-block" type='submit') Find By Catalog
                            img(src="images/yoke6.png", alt="The Search", title="Search", style="border-width:0px; width: 50px; margin-top: -77px; margin-left: 300px;")
        
        if(searchResults != null && searchResults.length > 0)
            div.searchResults()
              div
                  span(style="text-align: center")
                    h3="These Researchers and Labs can share your"
                        if searchformText
                            span(style="color: #3d9dcb;")=" " + searchText
                        if searchformTextCatalog
                            span(style="color: #3d9dcb;")=" " + searchformTextCatalog
                    h4="Order now!"
              #labyokers.container.results(style="width:100%;")
                div(id="ctl00_Div2" class="row rank").match
                   - i = 1
                   - className = ""
                   div(class="table-responsive")                    
                      table(id="rankTblSearch" class="table rankTbl")
                        thead
                         tr(class="you info-best" style="font-weight: bold")
                          td(class="desktabonly")= 'id '
                          td(class="wrapped")!= 'Reagent'
                          td(class="desktabonly")= 'Catalog#'
                          td(class="desktabonly")= 'Vendor'
                          td= 'Location'
                          td= 'Order'
                        tbody
                         -var ob = searchResults
                         - var j = 1
                         -for(var prop in ob)
                            - var i = prop % 2
                            - var classname = "";
                            - if(i==0)
                                - classname = "active"
                            - var agent = ob[prop].agent
                            - var vendor = ob[prop].vendor
                            - var catalognumber = ob[prop].catalognumber
                            - var fullname = fullname
                            - var sendemail = sendemail
                            - var reqemail = ob[prop].email
                            - var location = ob[prop].location  
                            - var category = ob[prop].category  
                            - var qty = ob[prop].quantity
                            - var lab = ob[prop].lab                    
                            tr(class=classname)
                                td(class="desktabonly")= j
                                td(class="wrapped") #{ob[prop].agent}
                                td(class="desktabonly") #{ob[prop].catalognumber}
                                td(class="desktabonly") #{ob[prop].vendor}
                                td #{ob[prop].location}
                                td
                                  span(onclick="iosLight('#{agent}','#{vendor}','#{catalognumber}','#{reqemail}','#{location}','#{category}','#{qty}','#{lab}')", style="cursor:pointer")
                                        img(src="images/ship2.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: 0px;")
                            - j = j + 1
                      script.
                        $(document).ready(function() {
                           $('#rankTblSearch').DataTable();
                        });
        if(searchResults != undefined && searchResults.length == 0 && searchformText)
            div.searchResults(id="results")
                div(id="ctl00_Div2" class="row rank")
                   div(class="table-responsive")
                      span(style="text-align: center")
                        h3="Sorry we could not find any location for your"
                            span(style="color: #3d9dcb;")=" " + searchText
                        h4="Try another chemical reagent!" 
                         
            script="$(window).scrollTop($('#results').offset().top).scrollLeft($('#results').offset().left);"

        

